@import url('https://fonts.googleapis.com/css2?family=OpenSans:wght@400;700&display=swap');

:root {
  --color-primary: #E84545;
  --background-color: #fff;
  --color-two: #903749;
  --color-three: #53354A;
}

* {
  box-sizing: border-box;
  font-family: 'OpenSans', sans-serif;
}

html, body {
  background-color: var(--background-color);
}

a, a:hover {
  text-decoration: none;
  color: unset;
}